<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p></p>
            </div>
            <button class="btn pink-btn" ng-click="home()">BACK HOME</button>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row">

        <div class="main_abouts_content">

            <div class="col-md-6 col-sm-6 col-xs-12">

                <h1>ABOUT US</h1>
           
                    <h2>INTRODUCTION</h2>
                    <div class="separetor2"></div>

                    <p><li>Stay solid construction is a 100% black youth owned company established this year, out of a solid need
                        to create sustainable employment and participate to the countrys economic mainstream. Stay Solid
                        Construction focuses on empowering the previously disadvantaged individuals by giving them opportunities
                        to acquire experience so they can ultimately reach their full potential. We are a renowned construction
                        company, specializing primarily on building upgrade, commercial buildings and governmental structures,
                        both for private and public sector within the borders of South Africa. Stay solid construction takes
                        pride in its work for best quality service delivery, competitive pricing and just in time delivery.
                        Stay Solid Construction employs Consulting Engineers, Project Managers and Specialist Resource Suppliers
                        to carry out its projects. This strong team experts assists stay solid construction in executing
                        projects of any magnitude while adhering to quality standards and customers specifications.
                        <br> Out of all the three sectors of construction which are Building, infrastructure and industrial,
                        Stay Solid Construction will be delving in of them but mainly focusing on building for now because
                        we are still a start-up company.</li>
                        <br>
                        <br>
                        <h2>MISSION STATEMENT</h2>
                        <div class="separetor2"></div>
                        <li>Our mission is to constantly live up to our slogan Building a better, solidified future through
                            Excellence, and Meeting our clients expectations by providing excellent services and high quality
                            construction of all times.</li>

                        <li>Maintain good profit margins for the growth of the company.</li>
                        <li>Set goals for continuous improvement of our service</li>
                        <li>Ensure that required skills are transferred in an equitable manner as far as training is concerned.</li>
                        <li>Use our environment in a responsible and caring manner.</li>
                        <li>Prioritize safety, health and skills of our employees on a continuous basis.</li>
                        <li>Support projects aimed at social responsibility.</li>
                        <li>Create jobs and employ people according to an Employment Equity Plan.</li>
                        <li>To provide an excellent service to our clients, by giving them their principal position in the business
                            and by treating them with integrity and honesty they deserve.</li>
                        <li>To always use quality material to give our customers value for their money.</li>

                        <li>To train young professionals who wish to operate in the same industry.</li>
                        <br>
                        <br>

                        <h2>VISION</h2>
                        <div class="separetor2"></div>

                        <li>Stay Solid Construction will measure its performance and success by its ability to apply this set
                            of vision.</li>
                        <li>Becoming dedicated and more efficient in the business operation as a way to achieve a constant increase
                            in the productivity level.</li>
                        <li>To run a highly profitable construction business with a sound relationship between revenue and expenses.
                            Increase revenue and limit expenses.</li>
                        <li>To become one of the leading black owned entity providing the best service without compromising quality.</li>
                        <br>
                        <br>

                        <h2>OBJECTIVES</h2>
                        <div class="separetor2"></div>

                        <li>Committing to the compliance of the national standards and regulations regarding Construction companies.</li>
                        <li>Winning the hearts and trust of our beloved clients by establishing a brand image of the company
                            through heavy marketing and campaigns on the first year of operations.</li>
                        <li>Breakeven early and turn in profits from the first six months of operations. Maintain a constant
                            50% cross margin ration.</li>


                    </p>

             
            </div>

            <!-- Sliding image-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="990 wow fadeInRight" data-wow-duration="3s">
                    <img src="images/MAIN_.jpg" alt="" />
                </div>
            </div>
 
        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p>Copyright © 2017 Stay Solid Construction (Pty) Ltd. All Rights Reserved &bull; Developed by NJ Solutions</p>
            </div>
        </div>
    </div>
</footer>