<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p></p>
            </div>
        </div>
        <div class="single_abouts wow fadeInLeft">
            <button class="btn pink-btn" ng-click="home()">BACK HOME</button>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row">

        <div class="main_abouts_content">

            <div class="col-md-6 col-sm-6 col-xs-12">

                <h1>PRODUCTS & SERVICES</h1>
                <div class="main_abouts_content">
                    <h2>Service we provide</h2>
                    <div class="separetor2"></div>

                    <ol>
                        <li>General Building</li>
                        <li>Civil</li>
                        <li>Waterproofing</li>
                        <li>Plumbing</li>
                        <li>Electrical</li>
                    </ol>
                    <br>
                    <h5>
                        <li>also specialize in government projects building infrastructure and industrial buildings</li>
                    </h5>

                    <br>
                    <h2>Maintenance: Supply and Install </h2>
                    <div class="separetor2"></div>

                    <ol>
                        <li>Paving </li>
                        <li>Ceiling</li>
                        <li>Painting</li>
                        <li>Waterproofing</li>
                        <li>Roofing</li>
                        <li>Tiling</li>
                        <li>Plumbing</li>
                        <li>Brickwork</li>
                    </ol>

                </div>
            </div>

            <!-- Sliding image-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="990 wow fadeInRight" data-wow-duration="3s">
                    <img src="images/services.jpg" alt="" />
                </div>

                <div class="main_abouts_content">
                    <h2>Build your dream home</h2>
                    <div class="separetor2"></div>
                    <li>Everyone has an idea of what his or her dream home should be like, which is why it is so important to
                        make use of a reliable and trustworthy company such as Stay Solid Contruction, to make your dream
                        house become a reality.
                        <br> Stay solid construction deals with the building of houses, infrastructure and industial constructions
                        through tenders and household contracts in the community, and that’s from your RDP houses, Residential
                        houses and Commercial houses.</li>
                    <br>

                    <h2>INNOVATION</h2>
                    <div class="separetor2"></div>
                    <li>All projects taken on by us are done so with a sense of innovation and flexibility, with the wants and
                        needs of each client being the top priority of each project. We are more than happy to show any previous
                        work completed by our company. Stay Solid Contruction makes every effort to not leave our clients
                        in the lurch, by having in place an excellent after sales service, as well as guarantees.</li>
                </div>
            </div>
        </div>
        <div class="main_team_content text-center">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single_team_img">
                    <img src="images/f3.jpg" alt="" width="400" height="240" />
                    <div class="single_team_overlay text-center">
                        <p>Stay Solid Construction is a certified and fully insured company of professional builders and other
                            highly experienced craftsmen.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <div class="single_team wow fadeIn" data-wow-duration="0s"> -->
                <div class="single_team_img">
                    <img src="images/painting.jpg" alt="" width="400" height="240" />
                    <div class="single_team_overlay text-center">
                        <p>Give your home a makeover with our professional painting services. No job too big or too small!</p>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <div class="single_team wow fadeIn" data-wow-duration="0s"> -->
                <div class="single_team_img">
                    <img src="images/plumbing.jpg" alt="" width="400" height="240" />
                    <div class="single_team_overlay text-center">
                        <p>We can assist you with all your new and existing plumbing installations, maintenance and repairs.</p>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- <div class="single_team wow fadeIn" data-wow-duration="0s"> -->
                <div class="single_team_img">
                    <img src="images/Roofing.jpg" alt="" width="400" height="240" />
                    <div class="single_team_overlay text-center">
                        <p>For all you roofing needs truct Stay Solid Construction to handle it. From your metal roofing, all
                            the way to your roof tiling.
                        </p>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>

    </div>

</div>
<section id="testimonial" class="testimonial">
    <div class="testimonial_overlay">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer" ng-init="getCurrentYear()">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p>Copyright © {{year}} Stay Solid Construction (Pty) Ltd. All Rights Reserved &bull; Developed by NJ Solutions</p>
            </div>
        </div>
    </div>
</footer>