<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p></p>
            </div>
            <div class="single_abouts wow fadeInLeft">
                <button class="btn pink-btn" ng-click="home()">BACK HOME</button>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row">

        <div class="main_abouts_content">

            <div class="col-md-6 col-sm-6 col-xs-12">

                <h1>TEAM</h1>
                <div class="main_abouts_content">

                    <img src="images/logo.jpeg" ng-href="" ng-click="home()" alt="" />


                    <h2>Mike Dikveli</h2>
                    <h3>CEO & Founder</h3>
                    <!-- <div class="separetor2"></div> -->
                    <b>Duties Assigned For:</b>
                    <li>See to the day-to-day management of the company.</li>
                    <li>Responsible for making sure that the accounts of the company and its financial affairs have been arranged
                        in a reliable manner.</li>
                    <li>Directs and supervises the activities of staff.</li>
                    <li>Implements company policies.</li>
                    <li>Delegates duties among staff members.</li>
                    <li>Maintains budgets for managed entity as well as the individual projects it takes on.</li>
                    <li>Monitors costs against budget.</li>
                    <li>Makes key decisions for managed entity.</li>
                    <li>Researches and analyses industry, market, and competitors to make informed strategy decisions.</li>

                    <br>

                    <h2>FIKILE GLADYS METSING</h2>
                    <h3>COO & Founder</h3>
                    <!-- <div class="separetor2"></div> -->
                    <b>Duties Assigned For:</b>
                    <li>Designing and implementing business strategies, plans and procedures.</li>
                    <li>Establishing policies that promote company culture and vision.</li>
                    <li>Overseeing operations of the company and the work of executives (IT, Marketing, Sales, Finance etc.).</li>
                    <li>Set comprehensive goals for performance and growth.</li>
                    <li>Lead employees to encourage maximum performance and dedication.</li>
                    <li>Evaluate performance by analyzing and interpreting data and metrics.</li>
                    <li>Write and submit reports to the CEO in all matters of importance.</li>
                    <li>Assist CEO in fundraising ventures.</li>
                    <li>Participate in expansion activities (investments, acquisitions, corporate alliances etc.).</li>
                    <li>Manage relationships with partners/vendors.</li>

                    <br>

                    <h2>NKETLE TSHEDISO</h2>
                    <h3>FINANCIAL MANAGER</h3>
                    <!-- <div class="separetor2"></div> -->
                    <b>Duties Assigned For:</b>
                    <li>Performing valuations to detect risky projects.</li>
                    <li>Performing managerial accounting on projects and decision making.</li>
                    <li>Handling the finances of the company.</li>
                    <li>Ensuring that costs are allocated accurately to every project.</li>
                    <li>Performing audit on clients to detect fraud and unlawful risks before projects commences.</li>
                    <li>Ensuring that the finances of the company are professionally handled and comply with the relevant standards
                        of accounting.</li>

                    <br>

                    <h2>NQOBILE DLAMINI</h2>
                    <h3>JUNIOR OPERATIONS MANANGER</h3>
                    <!-- <div class="separetor2"></div> -->
                    <b>Duties Assigned For:</b>
                    <li>Deals with the management of resources.</li>
                    <li>Works with the financial manager to ensure the organisation is on track financially and REPORTS to the
                        COO.
                    </li>
                    <li>Helps in setting goals for the company.</li>
                    <li>Is also responsible for the HR of the company.</li>

                    <br>

                    <h2>VELAPHI NHLAPO</h2>
                    <h3>PROJECT AND MARKETING MANAGER</h3>
                    <!-- <div class="separetor2"></div> -->
                    <b>Duties Assigned For:</b>
                    <li>Training the workers.</li>
                    <li>Enforcing discipline amongst the workers.</li>
                    <li>Making sure that workers do their job and making sure that they are are productive.</li>
                    <li>Coaching the workers.</li>
                    <li>Offering counselling to the workers.</li>
                    <li>Developing marketing strategy for the company in line with the objectives of the company.</li>
                    <li>Co-ordinating marketing campaigns with sales activities. </li>
                    <li>Overseeing the company’s marketing budget.</li>
                    <li>Analysing potential strategic partner relationships for company marketing.</li>
                </div>
            </div>

            <!-- Sliding image-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="990 wow fadeInRight" data-wow-duration="3s">
                    <img src="images/capture.jpg" alt="" />
                </div>
                <br>
                <br>
                <br>
                <h3>Project Management</h3>
                <div class="separetor2"></div>
                <p><b style="color: red;">When undertaking a project we ensure that our clients are equipped with detailed
     information on the status and progress of the project at all times.</b>
                    <p>
                        <li>We also report actual costs and scope completion.</li>
                        <li>We are honest on the information we provide to our clients. </li>
                        <li>Ensuring all work is completed according to CIDB standards. </li>
                        <li>Direct supervision of all work at the job site. </li>
                        <li>Quality control/ Cost control.</li>
                        <li>Scheduling subcontractors and material deliveries.</li>
                        <li>Time management.</li>

            </div>

        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
                <p>Copyright © 2017 Stay Solid Construction (Pty) Ltd. All Rights Reserved &bull; Developed by NJ Solutions</p>
            </div>
        </div>
    </div>
</footer>